<% include ../partials/header %>


    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active"> Info 1 </li>
                <li class="list-group-item"> Info 2 </li>
                <li class="list-group-item"> Info 3 </li>
            </div>
            <div id="map"></div>
            <p> </p>
            <a href="/campgrounds">Go Back</a>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$ <%= campground.price %> /night</h4>
                    <h3><a><%=campground.name %></a></h3>
                    <p><%= campground.description%></p>
                    <p>
                       <em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>    
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form"action="/campgrounds/<%=campground._id%>/?_method=DELETE" method="POST">
                            <button onclick="return confirm('Are you sure you want to delete this campground?');" class="btn btn-danger">Delete</button>                        
                        </form>
                    <% } %>
                
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <p>
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                    </p>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                 <%=comment.text%>
                            </p>
                             <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>  
                                <a class="btn btn-xs btn-warning" 
                                  href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
                                    Edit
                                </a>
                                <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input onclick="return confirm('Are you sure you want to delete this comment?');" type="submit" class="btn btn-xs btn-danger" value="delete">                              
                                </form>
                            <% } %>
                        </div>
                    </div>

                <% }) %>    
                
            </div>
        </div>
    </div>
    


<!--Google Map Connection-->

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq2Y6s_mWuXCIQ9PffE4RLm1YpvXG89_E&callback=initMap"></script>


<% include ../partials/footer %>